<settings>
    <localRepository>maven-repo-local</localRepository>
    <proxies>
    </proxies>
    <pluginGroups>
        <pluginGroup>murex.maven.plugins</pluginGroup>
        <pluginGroup>org.jenkins-ci.tools</pluginGroup>
    </pluginGroups>
    <mirrors>
        <mirror>
            <id>repo.jenkins-ci.org</id>
            <url>https://repo.jenkins-ci.org/public/</url>
            <mirrorOf>m.g.o-public</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>default-repositories</id>
            <activation>
                <property>
                    <name>!useDevMavenRepo</name>
                </property>
            </activation>
            <repositories>
                <repository>
                    <id>nexus-murex</id>
                    <url>http://callisto:8080/nexus/content/groups/murex</url>
                </repository>
                <repository>
                    <id>nexus-public</id>
                    <url>http://callisto:8080/nexus/content/groups/public</url>
                </repository>
                <repository>
                    <id>nexus-firstretry</id>
                    <url>http://callisto:8080/nexus/content/groups/firstretry</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-murex-plugin</id>
                    <url>http://callisto:8080/nexus/content/groups/murex</url>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus-plugin-plugin</id>
                    <url>http://callisto:8080/nexus/content/groups/public</url>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus-firstretry</id>
                    <url>http://callisto:8080/nexus/content/groups/firstretry</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>dev-repositories</id>
            <activation>
                <property>
                    <name>useDevMavenRepo</name>
                </property>
            </activation>
            <repositories>
                <repository>
                    <id>repo-murex-internal-snapshot</id>
                    <url>http://repo-dev:8082/nexus/content/groups/snapshot/murex.internal.snapshot/</url>
                </repository>
                <repository>
                    <id>repo-murex</id>
                    <url>http://repo-dev:8082/nexus/content/groups/murex</url>
                </repository>
                <repository>
                    <id>repo-public</id>
                    <url>http://repo-dev:8082/nexus/content/groups/public</url>
                </repository>
                <repository>
                    <id>nexus-murex</id>
                    <url>http://callisto:8080/nexus/content/groups/murex</url>
                </repository>
                <repository>
                    <id>nexus-public</id>
                    <url>http://callisto:8080/nexus/content/groups/public</url>
                </repository>
                <repository>
                    <id>nexus-firstretry</id>
                    <url>http://callisto:8080/nexus/content/groups/firstretry</url>
                </repository>
                <repository>
                    <id>repo.jenkins-ci.org</id>
                    <url>https://repo.jenkins-ci.org/public/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>repo-nexus-firstretry</id>
                    <url>http://repo-dev:8082/nexus/content/groups/firstretry</url>
                </pluginRepository>
                <pluginRepository>
                    <id>murex-callisto-plugin</id>
                    <url>http://callisto:8080/nexus/content/groups/murex</url>
                </pluginRepository>
                <pluginRepository>
                    <id>public-callisto-plugin</id>
                    <url>http://callisto:8080/nexus/content/groups/public</url>
                </pluginRepository>
                <pluginRepository>
                    <id>repo.jenkins-ci.org</id>
                    <url>https://repo.jenkins-ci.org/public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>staging-repositories</id>
            <activation>
                <property>
                    <name>useStaging</name>
                </property>
            </activation>
            <repositories>
                <repository>
                    <id>nexus-murex</id>
                    <url>http://callisto:8080/nexus/service/local/staging/deploy/maven2</url>
                </repository>
                <repository>
                    <id>nexus-public</id>
                    <url>http://callisto:8080/nexus/content/groups/public</url>
                </repository>
                <repository>
                    <id>nexus-firstretry</id>
                    <url>http://callisto:8080/nexus/content/groups/firstretry</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-murex-plugin</id>
                    <url>http://callisto:8080/nexus/content/groups/murex</url>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus-plugin-plugin</id>
                    <url>http://callisto:8080/nexus/content/groups/public</url>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus-firstretry</id>
                    <url>http://callisto:8080/nexus/content/groups/firstretry</url>
                </pluginRepository>
                <pluginRepository>
                    <!-- need to fetch the Nexus staging plugin -->
                    <id>maven-central</id>
                    <url>http://repo-dev:8082/nexus/content/repositories/maven.central</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>callisto</id>
            <username>${server.user}</username>
            <password>${server.password}</password>
            <configuration>
                <timeout>6000</timeout> <!-- milliseconds -->
            </configuration>
        </server>
        <server>
            <id>repo-public</id>
            <username>Dev</username>
            <password>maven</password>
        </server>
    </servers>
</settings>